---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroPageComponent from '../../components/HomePageComponets/HeroPageComponent.vue';

import { navItemsRO } from '../../composables/NavbarComposables/navItems.js';

const pageTitle = "Despre mine - George Popa Fotograf";
---

<BaseLayout lang="ro" navItems={navItemsRO} {pageTitle}>
  <HeroPageComponent client:load lang="ro" />
  
  <h1>Conținut în română</h1>

  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>

  <p>Conținut în română</p><p>Conținut în română</p>




  <p>Conținut în română</p>


  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>

</BaseLayout>