---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout lang="ro">
  <h1>Conținut în română</h1>

  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>

  <p>Conținut în română</p><p>Conținut în română</p>




  <p>Conținut în română</p>


  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  
</BaseLayout>