---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroPageComponent from '../../components/HomePageComponets/HeroPageComponent.vue';

const pageTitle = "Acasă - George Popa Fotograf";
---

<BaseLayout lang="ro" {pageTitle}>
  <HeroPageComponent client:load lang="ro" />
  
  <h1>Conținut în română</h1>

  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>

  <p>Conținut în română</p><p>Conținut în română</p>




  <p>Conținut în română</p>


  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>
  <p>Conținut în română</p>

</BaseLayout>