---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { navItemsRO } from '../../composables/navItems.js';
---
<BaseLayout lang="en" navItems={navItemsRO}>
  <h1>Welcome to Fotograf page</h1>
  <p>About Main page content in Romanian.</p>
</BaseLayout>
