---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroPageComponent from '../../components/HomePageComponets/HeroPageComponent.vue';
---

<BaseLayout lang="en">
  <HeroPageComponent client:load lang="en" />
  <h1>English Content</h1>
</BaseLayout>